table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

.mt-10 {
    margin-bottom: 10px;
}

.table-state th {
    background-color: #9ccdff6e;
}

.table-prediction th,
.table-prediction td,
.table-state td,
.table-state th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.chart-container {
    position: relative;
    width: 99% !important;
}

.table-prediction table {
    font-size: 14px;
    border-radius: 5px;
}

.text-center {
    text-align: center;
}