table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    margin-bottom: 15px;
}

.mt-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.table-state th {
    background-color: #9ccdff6e;
}

.table-state td, .table-state th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.chart-container {
    position: relative;
    width: 99% !important;
}