.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.RaLayout-content-4 {
    padding-top: 16px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

@media (min-width: 1440px) {
    .RaLayout-content-4 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}