<div class="leaflet-popup-content-wrapper">
    <div class="leaflet-popup-content" style="width: 231px;">
        <div id="popup_short" style="display:none;">
            <table>
                <tbody>
                <tr>
                    <td><strong>Object:</strong></td>
                    <td>Car</td>
                </tr>
                <tr>
                    <td><strong>Event:</strong></td>
                    <td>Zone in (Heywood)</td>
                </tr>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>Pilsworth Rd, Heywood OL10, UK</td>
                </tr>
                <tr>
                    <td><strong>Position:</strong></td>
                    <td><a href="https://maps.google.com/maps?q=53.583866,-2.235972&amp;t=m" target="_blank">53.583866
                        °, -2.235972 °</a></td>
                </tr>
                <tr>
                    <td><strong>Altitude:</strong></td>
                    <td>114 m</td>
                </tr>
                <tr>
                    <td><strong>Angle:</strong></td>
                    <td>41 °</td>
                </tr>
                <tr>
                    <td><strong>Speed:</strong></td>
                    <td>24 kph</td>
                </tr>
                <tr>
                    <td><strong>Time:</strong></td>
                    <td>2020-09-13 12:00:23</td>
                </tr>
                </tbody>
            </table>
            <div style="width:100%; text-align: right;"><a href="#" class="" onclick="switchPopupDetailed(true);">Detailed</a>
            </div>
        </div>
        <div id="popup_detailed">
            <table>
                <tbody>
                <tr>
                    <td><strong>Object:</strong></td>
                    <td>Car</td>
                </tr>
                <tr>
                    <td><strong>Event:</strong></td>
                    <td>Zone in (Heywood)</td>
                </tr>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>Pilsworth Rd, Heywood OL10, UK</td>
                </tr>
                <tr>
                    <td><strong>Position:</strong></td>
                    <td><a href="https://maps.google.com/maps?q=53.583866,-2.235972&amp;t=m" target="_blank">53.583866
                        °, -2.235972 °</a></td>
                </tr>
                <tr>
                    <td><strong>Altitude:</strong></td>
                    <td>114 m</td>
                </tr>
                <tr>
                    <td><strong>Angle:</strong></td>
                    <td>41 °</td>
                </tr>
                <tr>
                    <td><strong>Speed:</strong></td>
                    <td>24 kph</td>
                </tr>
                <tr>
                    <td><strong>Time:</strong></td>
                    <td>2020-09-13 12:00:23</td>
                </tr>
                <tr>
                    <td><strong>Fuel tank:</strong></td>
                    <td>40.89 L</td>
                </tr>
                </tbody>
            </table>
            <div style="width:100%; text-align: right;">
                <a href="#" class="" onclick="switchPopupDetailed(false);">Short</a>
            </div>
        </div>
    </div>
</div>