.bg-color-input-mail {
    background-color: #e8e8e8;
}

.position-abs-left-5000 {
    position: absolute;
    left: -5000px;
}

.bg-copyright {
    background-color: #1a1a1a;
}

.bg-third-row {
    background-color: #1f1f1f;
}

.bg-shop-features {
    background-color: #1f1f1f;
}

.bg-feather-mail {
    background-color: #e8e8e8;
}