.map {
    margin-top: 20px;
    width: 100%;
    height: 600px;
}


/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 125px;
    left: 30%;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding: 5px 5px 5px 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

.table-conduite tr:nth-child(even) {
    background-color: #dddddd;
}

td, th {
    text-align: left;
    padding: 8px;
}

#popup_detailed td, #popup_detailed th {
    text-align: left;
    padding: 2px !important;
}

.table-conduite > table {
    border: 1px solid !important;
}

.card-conduite {
    font-size: 12px;
}

.border-0 {
    border-radius: 0 !important;
}